.container{
    width: 100%;
    height: 100%;
}
.backimg{
    position: relative;
}
.text{
    width: 50px;
    position: absolute;
    top: 60px;
    left: 20px;
    display: flex;
}
.pic{
    border-radius: 20px;
}
